---
import PageLayout from "../layouts/PageLayout.astro";
import { getCollection, type CollectionEntry } from "astro:content";

const posts: CollectionEntry<"blog">[] = await getCollection("blog");
---
<PageLayout>
    <ul>
        {await Promise.all(
            posts.map(async (post, index) => {
                const { Content } = await post.render();
                return (
                    <li class="mb-6 pb-4">
                        <button
                            class="w-full flex flex-col gap-2"
                            onclick={`document.getElementById('content-${index}').classList.toggle('hidden')`}
                        >
                            <div class="flex justify-between items-center">
                                <h2 class="text-xl">{post.data.title}</h2>
                                <h6 class="text-md">{post.data.pubDate.toDateString()}</h6>
                            </div>
                            <p class="text-left">{post.data.description}</p>
                        </button>
                        <div id={`content-${index}`} class="hidden mt-4">
                            <Content />
                        </div>
                    </li>
                );
            })
        )}
    </ul>
</PageLayout>
