---
import meImage from "/public/me.jpeg"
import soccerImage from "/public/soccer.jpeg"
import jokerImage from "/public/joker.jpg"
import potterImage from "/public/potter.jpeg"
import skiImage from "/public/ski.jpeg"
---
<section class="w-full">
    <div class="flex flex-col justify-center items-center gap-16">
        <img src={meImage.src} alt="Profile Picture" class="h-64 w-64 aspect-square rounded-full object-cover" />
        <div class="w-full flex flex-col justify-start gap-4">
            <h1 class="font-semibold text-5xl">Hi, I'm <span class="text-[var(--accent-primary)]">Shayne</span> 👋</h1>
            <p>I am from Massachusetts and am now a senior studying computer science at <a href="https://www.tufts.edu" class="text-[var(--accent-primary)] hover:underline">Tufts</a>. On top of my schoolwork, I have many hobbies and activities that fill my time.</p>
        </div>
        <div>
            <div class="flex flex-col-reverse md:flex-row justify-between items-center gap-16">
                <div class="flex flex-col gap-2 sm:max-w-2/3">
                    <h2 class="font-semibold text-3xl text-[var(--accent-primary)]">Soccer ⚽️</h2>
                    <p>I spend much of my free time playing & watching soccer. I have played since I was 4 and now play ~3 times/week. I was an attacking mid in high school, so some of my favorite players include Kevin De Bruyne and Luka Modríc.</p>
                    <p>I support City and am a superfan of Erling Haaland. Sorry United fans. 😢</p>
                </div>
                <img src={soccerImage.src} alt="Me playing soccer" class="object-cover w-full rounded-lg w-32 sm:w-64" />
            </div>
        </div>
        <div>
            <div class="flex flex-col-reverse sm:flex-row-reverse justify-between items-center gap-16">
                <div class="flex flex-col gap-2 sm:max-w-2/3">
                    <h2 class="font-semibold text-3xl text-[var(--accent-primary)]">Movies & Series 🍿</h2>
                    <p>A major pastime for me is watching movies and series. Being from MA, I am obligated to say that Good Will Hunting is my favorite movie, but I also enjoy many Christopher Nolan movies like Inception, Interstellar, and The Dark Knight. The Truman Show and The Empire Strikes Back aren't too bad either.</p>
                    <p>In the summer of 2024, my mom finally put me on to Game of Thrones and it has since become one of my favorite series. I also really enjoyed Cillian Murphy in Peaky Blinders and the entire Chernobyl series.</p>
                </div>
                <img src={jokerImage.src} alt="Why so serious??" class="object-cover w-full rounded-lg w-32 sm:w-64" />
            </div>
        </div>
        <div>
            <div class="flex flex-col-reverse sm:flex-row justify-between items-center gap-16">
                <div class="flex flex-col gap-2 sm:max-w-2/3">
                    <h2 class="font-semibold text-3xl text-[var(--accent-primary)]">Reading 📚</h2>
                    <p>I try to read for ~30 minutes every night before I go to sleep. Often, I end up falling asleep while reading or just end up watching part of a movie, but I do sometimes get to dive into a book.</p>
                    <p>I like all genres, but I enjoy Classics and Fantasy the most. Some of my favorite classics are The Picture of Dorian Gray, Lord of the Flies, and The Great Gastby (are these considered classics??). My favorite fantasy series is of course Harry Potter, so if anyone wants to go head-to-head in trivia, lmk.</p>
                </div>
                <img src={potterImage.src} alt="Saint POTTER" class="object-cover w-full rounded-lg w-32 sm:w-64" />
            </div>
        </div>
        <div>
            <div class="flex flex-col-reverse sm:flex-row-reverse justify-between items-center gap-16">
                <div class="flex flex-col gap-2 sm:max-w-2/3">
                    <h2 class="font-semibold text-3xl text-[var(--accent-primary)]">Skiing 🎿</h2>
                    <p>Growing up in New England, skiing was a regular winter activity in my family. At my peak, I was going to Wachusett Mountain 3 times/week and going up north once/month. I mostly did freestyle and park skiing, but I don't know if my body can still handle that. </p>
                    <p>Though I don't get to go as much now, I still ski the east when I can.</p>    
                </div>
                <img src={skiImage.src} alt="Yardsale 5 minutes after this was taken" class="object-cover w-full rounded-lg w-32 sm:w-64" />
            </div>
        </div>
    </div>
</section>