---
import Project from "./Project.astro";
import projects from "../data/projects.json";
---

<section id="projects">
    <div class="h-full w-full flex flex-col gap-6">
        {projects.map(project => (
            <Project
                title={project.title}
                deploymentLink={project.deploymentLink}
                repoLink={project.repoLink}
                description={project.description}
                time={project.time}
                status={project.status}
                tech={project.tech}
                modalDescription={project.modalDescription}
                impact={project.impact}
                contributions={project.contributions}
            />
        ))}          
    </div>
</section>