---
import Project from "./Project.astro";

// Format is: [[Project name, Link to deployment, Link to repo, Project description, Beginning time, Done/Ongoing/Deprecated, [Languages, Tools, and Technologies]], ...]
const projects = [
    ["PingPoint", "https://pingpoint-three.vercel.app/dashboard", "https://github.com/zack-white/pingpoint", "A network activity-visualization tool used to demystify events occuring on a network, defend against attacks, and expose vulnerabilities. Won 1st place in Security @ JumboHack 2026.", "2026", "Done", ["React", "Next.js", "FastAPI", "Node.js", "Anthropic API", "Raspberry Pi 5", "Server-Sent Events"]],
    ["commit-mog", "", "https://github.com/shaynesidman/commit-mog", "See who commit mogs you on GitHub. This is the true faceoff for CS majors.", "2026", "Ongoing", ["React", "Vite", "Flask", "GitHub API"]],
    ["MHD", "https://masshistday.vercel.app", "https://github.com/JumboCode/mhd", "A data visualization-focused web application for the Massachusetts Historical Society to expand their program. Led as a Tech Lead with Dan Glorioso as Project Manager.", "2026", "Ongoing", ["React", "Next.js", "PostgreSQL", "Node.js", "Drizzle", "Neon", "D3.js", "mapbox"]],
    ["JumboMap", "https://tufts-jumbomap.vercel.app", "https://github.com/zack-white/jumbohack2025", "Beginning as a Hackathon project in spring of 2025, JumboMap has now evolved into a product for Tufts University to make on-campus events more accessible through the use of an interactive map and custom user and admin flows.", "2026", "Ongoing", ["React", "Next.js", "PostgreSQL", "Node.js", "Neon",]],
    ["RunTracer", "https://run-tracer.shaynesidman.com", "https://github.com/shaynesidman/run-tracer", "A project that allows users to trace their run routes, create run routes of specified distances, and view their friends' activities.", "2026", "Done", ["React", "Next.js", "PostgreSQL", "Node.js", "Drizzle", "Neon", "mapbox"]],
    ["Rock Band Implementation", "", "", "An implementation of Rock Band created in SystemVerilog on an FPGA, with input sent from a Rock Band guitar to the FPGA wirelessly. The game was displayed on a screen and state was updated from the FPGA through a VGA cable.", "2025", "Done", ["SystemVerilog", "FPGA"]],
    ["File Copy", "", "", "A UDP-based distributed file transfer system that reliably copies directories between client and server machines despite network and disk failures, emphasizing the end-to-end principle and idempotency.", "2025", "Done", ["C++", "UDP"]],
    //["${financeManager}", "", "", "A web application to manage personal finances and monitor expenses, income, subscriptions, budgeting, and more.", "2025", "Ongoing", ["React", "Next.js", "PostgreSQL", "Node.js", "Neon",]],
    //["Alarm Clock", "", "https://github.com/shaynesidman/alarm-clock", "A customized alarm clock running on a Raspberry Pi featuring integrations with my personal calendar, the weather, Oura Ring data, and more.", "2025", "Ongoing", ["Flask", "Python", "JavaScript", "Jinja2", "Raspberry Pi"]],
    ["Market Updates", "", "", "A project developed for my 2025 summer internship at Shepherd Financial Partners that fetches the most recent market news, current events, and more to create a digestible weekly summary so that the firm can better serve and inform their clients.", "2025", "Done", ["React", "Next.js", "PostgreSQL", "Neon", "Node.js", "Clerk", "Perplexity AI API"]],
    //["JumboBoxd", "", "https://github.com/shaynesidman/JumboBoxd", "An onboarding project for technology leads of JumboCode teams at Tufts for the 2025-26 year.", "2025", "Done", ["React", "Next.js", "Node.js", "Neon", "Clerk"]],
    ["Hybrid search feature", "", "", "As a part of my 2024 summer internship at ACE ABA Software System, I implemented a hybrid search feature in Python that combines the results of a semantic search, a keyword search, and a cross-encoder model to return semantically and lexically similar results in a database of lessons.", "2024", "Done", ["Python", "PostgreSQL", "DBeaver", "Jira",]],
    ["Retrieval-Augmented Generation (RAG) pipeline", "", "", "As another part of my summer 2024 internship, I created an RAG pipeline and combined it with prompt engineering to contextualize an LLM's responses with an external knowledge base.", "2024", "Done", ["Python", "PostgreSQL", "DBeaver", "Jira",]],
    ["Somerville Museum", "", "https://github.com/JumboCode/somerville-museum", "Worked in a team to create a web application for the Somerville Museum to keep track of their inventory of clothing for historical re-enactments. ", "2024", "Done",  ["React", "Next.js", "PostgreSQL", "Node.js", "Neon", "Clerk"]],
    ["Emerald Necklace Conservancy", "","https://github.com/JumboCode/emerald-necklace-conservancy", "Worked in a team to create a web application for the Emerald Necklace Conservancy around Boston to display information about the landmarks and parks that make it up.", "2023", "Done",  ["React", "Next.js", "MongoDB", "Node.js"]],
];
---

<section id="projects">
    <div class="h-full w-full flex flex-col gap-6">
        {projects.map(project => (
            <Project 
                title={project[0]}
                deploymentLink={project[1]}
                repoLink={project[2]}
                description={project[3]}
                time={project[4]}
                status={project[5]}
                tech={project[6]}
            />
        ))}          
    </div>
</section>