---
import Project from "./Project.astro";

// Format is: [[Project name, Link to repo, Project description, Beginning time, Done/Ongoing/Deprecated, [Languages, Tools, and Technologies]], ...]
const projects = [
    ["JumboMap", "https://github.com/zack-white/jumbohack2025", "Beginning as a Hackathon project in spring of 2025, JumboMap has now evolved into a product for Tufts University to make on-campus events more accessible through the use of an interactive map and custom user and admin flows.", "2025", "Ongoing", ["React", "Next.js", "PostgreSQL", "Node.js", "Neon",]],
    ["RunTracer", "", "A project that allows users to trace their run routes and determine distances.", "2025", "Ongoing", ["React", "Next.js", "PostgreSQL", "Node.js", "Neon",]],
    //["${financeManager}", "", "A web application to manage personal finances and monitor expenses, income, subscriptions, budgeting, and more.", "2025", "Ongoing", ["React", "Next.js", "PostgreSQL", "Node.js", "Neon",]],
    //["Alarm Clock", "https://github.com/shaynesidman/alarm-clock", "A customized alarm clock running on a Raspberry Pi featuring integrations with my personal calendar, the weather, Oura Ring data, and more.", "2025", "Ongoing", ["Flask", "Python", "JavaScript", "Jinja2", "Rapsberry Pi"]],
    ["Market Updates", "", "A project developed for my 2025 summer internship at Shepherd Financial Partners that fetches the most recent market news, current events, and more to create a digestible weekly summary so that the firm can better serve and inform their clients.", "2025", "Done", ["React", "Next.js", "PostgreSQL", "Neon", "Node.js", "Clerk", "Perplexity AI API"]],
    //["JumboBoxd", "https://github.com/shaynesidman/JumboBoxd", "An onboarding project for technology leads of JumboCode teams at Tufts for the 2025-26 year.", "2025", "Done", ["React", "Next.js", "Node.js", "Neon", "Clerk"]],
    ["Hybrid search feature", "", "As a part of my 2024 summer internship at ACE ABA Software System, I implemented a hybrid search feature in Python that combines the results of a semantic search, a keyword search, and a cross-encoder model to return semantically and lexically similar results in a database of lessons.", "2024", "Done", ["Python", "PostgreSQL", "DBeaver", "Jira",]],
    ["Retrieval-Augmented Generation (RAG) pipeline", "", "As another part of my summer 2024 internship, I created an RAG pipeline and combined it with prompt engineering to contextualize an LLM's responses with an external knowledge base.", "2024", "Done", ["Python", "PostgreSQL", "DBeaver", "Jira",]],
    ["Somerville Museum", "https://github.com/JumboCode/somerville-museum", "Worked in a team to create a web application for the Somerville Museum to keep track of their inventory of clothing for historical re-enactments. ", "2024", "Done",  ["React", "Next.js", "PostgreSQL", "Node.js", "Neon", "Clerk"]],
    ["Emerald Necklace Conservancy", "https://github.com/JumboCode/emerald-necklace-conservancy", "Worked in a team to create a web application for the Emerald Necklace Conservancy around Boston to display information about the landmarks and parks that make it up.", "2023", "Done",  ["React", "Next.js", "MongoDB", "Node.js",]],
];
---

<section id="projects">
    <div class="h-full w-full flex flex-col gap-6">
        {projects.map(project => (
            <Project 
                title={project[0]}
                link={project[1]}
                description={project[2]}
                time={project[3]}
                status={project[4]}
                tech={project[5]}
            />
        ))}          
    </div>
</section>