---
import Modal from "./Modal.astro";
import GithubIcon from "./icons/GithubIcon.astro";
import ExternalIcon from "./icons/ExternalIcon.astro";
const { title, deploymentLink, repoLink, description, time, status, tech, modalDescription, contributions, impact } = Astro.props;
const dialogId = `dialog-${title.toLowerCase().replace(/\s+/g, '-').replace(/[^a-z0-9-]/g, '')}`;
---

<div
    class="bg-[var(--bg-primary)] flex flex-col border border-[var(--bg-secondary)] rounded-lg p-4 gap-2 cursor-pointer hover:border-[var(--text-secondary)] transition duration-300"
    onclick={`document.body.style.overflow='hidden'; document.getElementById('${dialogId}').showModal()`}
>
    <div class="flex flex-row justify-between">
        <h2 class="text-2xl">{title}</h2>
        <div class="flex flex-row items-center gap-6">
            {deploymentLink === "" ? <></> : <a href={deploymentLink} data-stop-propagation class="rounded-lg px-2 py-1 text-[var(--text-secondary)] hover:bg-[var(--bg-secondary)] transition duration-300 border flex items-center gap-2">Live<ExternalIcon size={14} /></a>}
            {repoLink === "" ? <></> : <a href={repoLink} data-stop-propagation class="rounded-lg px-2 py-1 text-[var(--text-secondary)] hover:bg-[var(--bg-secondary)] transition duration-300 border flex items-center gap-2">Source<GithubIcon size={14} /></a>}
            <span class=`rounded-lg px-2 py-1 ${status === "Done" ? "bg-[#2dc937]" : "bg-[#cc3232]"}`>{status}</span>
            <p class="flex items-center">{time}</p>
        </div>
    </div>
    <p class="text-[var(--text-secondary)]">{description}</p>
    <div class="flex flex-row gap-2 flex-wrap">
        {tech.map((piece: string[]) => (
            <span class="rounded-lg px-2 py-1 bg-[var(--bg-secondary)] text-[var(--text-secondary)]">{piece}</span>
        ))}
    </div>
</div>

<Modal id={dialogId} title={title} deploymentLink={deploymentLink} repoLink={repoLink} status={status} tech={tech} modalDescription={modalDescription} contributions={contributions} impact={impact}>
    <slot name="modal" />
</Modal>

<script>
    document.querySelectorAll('[data-stop-propagation]').forEach(el => {
        el.addEventListener('click', e => e.stopPropagation());
    });
</script>
