---
import Project from "./Project.astro";

// Format is: [[Project name, Project description, Beginning time, Done/Ongoing/Deprecated, [Languages, Tools, and Technologies]], ...]
const projects = [
    ["JumboMap", "Beginning as a Hackathon project in spring of 2025, JumboMap has now evolved into a product for Tufts University to make on-campus events more accessible through the use of an interactive map and custom user and admin flows.", "2025", "Ongoing", ["React", "Next.js", "PostgreSQL", "Node.js", "Neon",]],
    ["Hybrid search feature", "As a part of my 2024 summer internship at ACE ABA Software System, I implemented a hybrid search feature in Python that combines the results of a semantic searc, a keyword search, and a cross-encoder model to return semantically and lexically similar results in a database.", "2024", "Done", ["Python", "PostgreSQL", "DBeaver", "Jira",]],
    ["Retrieval-Augmented Generation (RAG) pipeline", "As another part of my summer 2024 internship, I utilized an RAG pipeline as well as prompt engineering to contextualize an LLM's responses with an external knowledge base.", "2024", "Done", ["Python", "PostgreSQL", "DBeaver", "Jira",]],
    ["Somerville Museum", "Worked in a team to create a web applicaation for the Somerville Museum to keep track of their inventory for historical clothing. ", "2024", "Done",  ["React", "Next.js", "PostgreSQL", "Node.js", "Neon",]],
    ["Emerald Necklace Conservancy", "Worked in a team to create a web application for the Emerald Necklace Conservancy around Boston to display information about the places and parks that make it up.", "2023", "Done",  ["React", "Next.js", "MongoDB", "Node.js",]],
];
---

<section id="projects">
    <div class="flex flex-col gap-4">
        <h1>Projects</h1>
        <div class="grid grid-cols-1 gap-6">
            {projects.map((project, index) => (
                <Project 
                    title={project[0]} 
                    description={project[1]}
                    time={project[2]}
                    status={project[3]}
                    tech={project[4]}
                />
            ))}          
        </div>
    </div>
</section>