---
const { title, description, time, status, tech } = Astro.props;
---

<div class="flex flex-col gap-3 fade-in">
    <div class="flex flex-row justify-between">
        <h2>{title}</h2>
        <div class="flex flex-row items-center gap-6">
            <span class=`rounded px-2 py-1 ${status === "Done" ? "bg-[#2dc937]" : "bg-[#cc3232]"}`>{status}</span>
            <p class="flex items-center">{time}</p>
        </div>
    </div>
    <p>{description}</p>
    <div class="flex flex-row gap-2 flex-wrap">
        {tech.map((piece) => (
            <span class="rounded px-2 py-1 bg-[#282828]">{piece}</span>
        ))}
    </div>
</div>

